

.page-title{
    line-height: 40px; border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

.scrollable {
    height: 700px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.gap{
    margin:20px;
  }


.table th{
    background-color: #a991c5;
    position: sticky;
    top: 0;
}

.table tr{
    scroll-snap-align: start;
}